<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">


<ui:composition template="/WEB-INF/templates/format.xhtml">

    <!--@elvariable id="userController" type="ru.ars.project.controllers.UserController"-->
    <!--@elvariable id="playersController" type="ru.ars.project.controllers.PlayersController"-->
    <!--@elvariable id="photoController" type="ru.ars.project.controllers.PhotoController"-->

    <!--===========================================================-->
    <!--========================= Title ===========================-->
    <!--===========================================================-->

    <ui:define name="title">#{msg.team}</ui:define>

    <!--===========================================================-->
    <!--====================== Hello User =========================-->
    <!--===========================================================-->

    <ui:define name="hello"><h3>
    #{msg.hello}, #{userController.user.username}!</h3></ui:define>

    <!--===========================================================-->
    <!--======================== Center ===========================-->
    <!--===========================================================-->

    <ui:define name="center">

        <h:form id="form">

            <!--===========================================================-->
            <!--===================== Info players ========================-->
            <!--===========================================================-->

            <div class="name">
                <h2>#{msg.team}</h2>
            </div>

            <p:dataGrid id="playerList" rowIndexVar="rowIndex" columns="3" lazy="true" var="player" style=" width: 100%"
                        value="#{playersController.players}" paginator="true" paginatorPosition="bottom"
                        rowsPerPageTemplate="6, 9, 15" rows="6" paginatorAlwaysVisible="true"
                        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:panel header="#{player.name} #{player.surname}" style="text-align: center; width: 256px; left: 2px; ">

                    <p:commandLink  update=":form:playerDetail" oncomplete="PF('playerDialog').show()" title="#{msg.info}">

                        <p:graphicImage value="/resources/images/team/players#{player.id}.jpg"/>

                        <!--<o:graphicImage value="#{photoController.get(player.id)}" />-->

                        <f:setPropertyActionListener value="#{player}" target="#{playersController.player}"/>

                    </p:commandLink>
                </p:panel>
            </p:dataGrid>

            <!--===========================================================-->
            <!--==================== Loading effect =======================-->
            <!--===========================================================-->

            <p:blockUI block="playerList" trigger="playerList">
                #{msg.loading}<br/>
                <p:graphicImage value="/resources/images/effect/ajax-loader.gif"/>
            </p:blockUI>

            <!--===========================================================-->
            <!--================== Pop-up info player =====================-->
            <!--===========================================================-->

            <p:dialog header="#{msg.information}" widgetVar="playerDialog" modal="true" showEffect="fade" resizable="false" style="width: 500px;">

                <p:outputPanel id="playerDetail" style="text-align: left; width: 500px; ">

                    <p:panelGrid columns="2" rendered="#{not empty playersController.player}" columnClasses="label,value" >

                        <f:facet name="header">
                            <!--<o:graphicImage value="#{photoController.get(playersController.player.id)}" />-->
                            <p:graphicImage value="/resources/images/team/players#{playersController.player.id}.jpg"/>
                        </f:facet>

                        <h:outputText value="#{msg.number}: "/>
                        <h:outputText value="#{playersController.player.number}"/>

                        <h:outputText value="#{msg.name}: "/>
                        <h:outputText value="#{playersController.player.name} #{playersController.player.surname}"/>

                        <h:outputText value="#{msg.position}: "/>
                        <h:outputText value="#{playersController.player.position}"/>

                        <h:outputText value="#{msg.birthday}: "/>
                        <h:outputText value="#{playersController.player.birthday}">
                            <f:convertDateTime pattern="dd.MM.yyyy"/>
                        </h:outputText>

                        <h:outputText value="#{msg.height}: "/>
                        <h:outputText value="#{playersController.player.height}"/>

                        <h:outputText value="#{msg.weight}: "/>
                        <h:outputText value="#{playersController.player.weight}"/>

                        <h:outputText value="#{msg.trainer}: "/>
                        <h:outputText value="#{playersController.player.trainer}"/>

                        <h:outputText value="#{msg.playingfor}: "/>
                        <h:outputText value="#{playersController.player.team}"/>

                        <h:outputText value="#{msg.biography}: "/>
                        <h:outputText value="#{playersController.player.biography}"/>

                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>
</html>
