<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>
        title
    </title>
</h:head>

<h:body>

    <ui:composition >

        <!--@elvariable id="userController" type="ru.ars.project.controllers.UserController"-->

        <!--===========================================================-->
        <!--===================== Authorization =======================-->
        <!--===========================================================-->

        <div class="authorization">

            <h:form id="authorization">

                <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4,ui-grid-col-8" >

                    <!--<h:outputLabel for="username" value="#{msg.name_user}" style="color: black"/>-->
                    <p:inputText id="username" value="#{userController.user.username}" size="30" label="username" required="true" placeholder="#{msg.name_user}" style="margin-left: 30px"/>

                    <!--<h:outputLabel for="password" value="#{msg.password}" />-->
                    <p:password id="password" value="#{userController.user.password}" size="30" label="password" required="true" placeholder="#{msg.password}" style="margin-left: 30px"/>

                    <f:facet name="footer">
                        <p:commandButton id="login" value="#{msg.entry}" action="#{userController.login}"  icon="fa fa-soccer-ball-o" style="color: #267f24; width: 200px; margin-left: 90px; margin-top: 10px"/>
                    </f:facet>
                    <!--<p:tooltip id="toolTipGrow" for="entity" value="#{msg.bolder}" showEffect="clip" hideEffect="explode" position="right"/>-->

                </p:panelGrid>
            </h:form>
        </div>
    </ui:composition>
</h:body>
</html>
