<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>
        title
    </title>
</h:head>

<h:body>

    <!--@elvariable id="imagesTeamController" type="ru.ars.project.placeholders.PhotoPlayerFilled"-->

    <ui:composition>

        <div class="carousel" style="width: 60%; position: relative; left: 20%; ">

            <h:form>

                <p:contentFlow value="#{imagesTeamController.images}" var="photo" >
                    <p:graphicImage value="/resources/images/team/#{photo}" styleClass="content"/>
                    <!--<div class="caption">#{photo}</div>-->
                </p:contentFlow>

            </h:form>

        </div>


    </ui:composition>

</h:body>

</html>
