<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:apex="http://java.sun.com/jsf/html">

<h:head>
    <title>
        title
    </title>
</h:head>

<h:body>

    <!--===========================================================-->
    <!--======================== Footer ===========================-->
    <!--===========================================================-->

    <ui:composition>

        <div class="footer">

            <h:form id="foot">

                <div class="copyright">
                    <h4>#{msg.copyright}</h4>
                </div>

                <div class="social_network">

                    <apex:outputLink value="https://vk.com" target="blank">
                        <p:graphicImage value="/resources/images/effect/vk.png"  width="25" height="25" style="border-radius: 5px"/>
                    </apex:outputLink>


                    <apex:outputLink value="https://www.facebook.com" target="blank">
                        <p:graphicImage value="/resources/images/effect/facebook.png" width="25" height="25" style="float: right; border-radius: 5px;"/>
                    </apex:outputLink>

                </div>
            </h:form>
        </div>
    </ui:composition>
</h:body>
</html>
