<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:view>

    <!--===========================================================-->
    <!--========================== Title ==========================-->
    <!--===========================================================-->

    <h:head>
        <title><ui:insert name="title"/></title>
    </h:head>

    <h:body>

        <!--===========================================================-->
        <!--======================= Dependence ========================-->
        <!--===========================================================-->

        <f:facet name="dependence">
            <h:outputScript library="js" name="player.js" target="head"/>
            <h:outputStylesheet library="css" name="player.css"/>
        </f:facet>

        <!--===========================================================-->
        <!--========================= Header ==========================-->
        <!--===========================================================-->
        <div id="wrap">

                <ui:include src="header.xhtml"/>

            <!--===========================================================-->
            <!--========================== Menu ===========================-->
            <!--===========================================================-->


                <ui:include src="menubarHome.xhtml"/>

            <!--===========================================================-->
            <!--======================== Contents =========================-->
            <!--===========================================================-->

            <div class="contents">

                <ui:include src="west.xhtml"/>

                <div class="center">

                    <ui:insert name="center"/>

                </div>

                <!--===========================================================-->
                <!--========================= Footer ==========================-->
                <!--===========================================================-->

                    <ui:include src="footer.xhtml"/>

            </div>
        </div>
    </h:body>

</f:view>

</html>
