<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>
        title
    </title>
</h:head>

<h:body>

    <!--===========================================================-->
    <!--========================== Menu ===========================-->
    <!--===========================================================-->

    <ui:composition>

        <!--@elvariable id="searchService" type="ru.ars.project.logics.service.SearchService"-->
        <!--@elvariable id="userController" type="ru.ars.project.controllers.UserController"-->

        <div class="menu">

            <h:form id="menu">


                <p:menubar>

                    <p:menuitem value="#{msg.home}" outcome="welcome.xhtml"  icon="fa fa-home" style="position: absolute; margin-left: 5px; width: 100px"  />

                    <p:submenu id="team_all" label="#{msg.team_all}" icon="fa fa-soccer-ball-o" style="position: absolute; margin-left: 120px " >
                        <p:submenu label="#{msg.composition}" icon="fa fa-group" >
                            <p:menuitem value="#{msg.coach}" url="#" icon="fa fa-child" />
                            <p:menuitem value="#{msg.players}" url="#" icon="fa fa-child" />
                        </p:submenu>
                        <p:menuitem value="#{msg.photo_reports}" url="#" icon="fa fa-camera-retro" />
                        <p:separator/>
                        <p:menuitem value="#{msg.link}" url="#" icon="fa fa-external-link" />
                    </p:submenu>


                    <p:submenu label="#{msg.stadiums}" icon="fa fa-institution" style="position: absolute; margin-left: 260px">
                        <p:menuitem value="#{msg.photo_st}" url="#" icon="fa fa-photo" />
                        <p:menuitem value="#{msg.address}" url="#" icon="fa fa-leanpub" />
                    </p:submenu>

                    <p:submenu label="#{msg.info_m}" icon="fa fa-info" style="position: absolute; margin-left: 405px">
                        <p:menuitem value="#{msg.feed}" url="#" icon="fa fa-envelope"/>
                        <p:menuitem value="#{msg.contacts}" url="#" icon="fa fa-phone-square"/>
                    </p:submenu>

                    <p:submenu label="#{msg.language}" icon="fa fa-language" style="position: absolute; margin-left: 570px" >
                        <p:menuitem value="#{msg.russian}" url="?lang=ru" icon="fa fa-hand-o-right" />
                        <p:menuitem value="#{msg.english}" url="?lang=en" icon="fa fa-hand-o-right" />
                    </p:submenu>

                    <!--<p:menuitem value="#{msg.exit}" icon="fa fa-unlock-alt" action="#{userController.logout}" style="position: absolute; margin-left: 1100px; width: 100px"  />-->


                    <!--===========================================================-->
                    <!--==================== Search and Exit ======================-->
                    <!--===========================================================-->

                    <f:facet name="options">


                        <p:inputText id="search" placeholder="#{msg.search}"  value="#{searchService.text}" style="margin-right: 10px"/>

                        <p:commandButton id="btnSearch" value="#{msg.search}" icon="fa fa-search" update="form" action="searchByText" />

                        <p:commandButton id="exit" value="#{msg.exit}" icon="fa fa-unlock-alt" action="#{userController.logout}" />


                        <!--===========================================================-->
                        <!--==================== Loading effect =======================-->
                        <!--===========================================================-->

                        <p:blockUI block=":form:playerList" trigger="search">
                            #{msg.loading}<br/>
                            <p:graphicImage value="/resources/images/effect/ajax-loader.gif"/>
                        </p:blockUI>

                    </f:facet>

                    <!--<p:growl id="messages" showDetail="true"/>-->

                </p:menubar>
            </h:form>
        </div>
    </ui:composition>
</h:body>
</html>
