<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>
        title
    </title>
</h:head>

<h:body>

    <!--===========================================================-->
    <!--========================= West ============================-->
    <!--===========================================================-->

    <ui:composition>

        <div class="west">

            <h:form id="fo">

                <!--@elvariable id="imageTeamFilled" type="ru.ars.project.placeholders.ImageTeamFilled"-->
                <!--@elvariable id="calendarController" type="ru.ars.project.controllers.CalendarController"-->

                <p:growl autoUpdate="true"/>

                <!--===========================================================-->
                <!--======================= Calendar ==========================-->
                <!--===========================================================-->

                <!--<div class="calendar">-->
                <!--<p:calendar value="#{calendarController.date}" mode="inline" style="width: 300px;"/>-->
                <!--</div>-->

                <!--===========================================================-->
                <!--========================= Photo ===========================-->
                <!--===========================================================-->

                <div class="images" >

                    <p:imageSwitch effect="turnDown">
                        <ui:repeat value="#{imageTeamFilled.images}" var="image">
                            <p:commandLink update=":fo:photo" oncomplete="PF('dir').show()" title="#{msg.click_photo}">
                                <p:graphicImage  value="/resources/images/joint/#{image}" width="300" height="150" style="border-radius: 5px"  />
                            </p:commandLink>
                        </ui:repeat>
                    </p:imageSwitch>

                    <!--===========================================================-->
                    <!--================== Pop-up info photo ======================-->
                    <!--===========================================================-->

                    <p:dialog widgetVar="dir" modal="true" showEffect="fade" >
                        <p:graphicImage  value="/resources/images/joint/#{image}" id="photo"/>
                    </p:dialog>

                </div>

                <!--===========================================================-->
                <!--======================= Left menu =========================-->
                <!--===========================================================-->

                <p:accordionPanel multiple="true" >
                    <p:tab title="#{msg.nft}"  titleStyle="height: 40px; padding: 15px; background-color: rgba(85,97,110,0.14); border: 1px solid #ded5d5;" >
                        <h:panelGrid columns="1" cellpadding="10" >
                            <p:menubar style="border: none; background-color: white; background-image: inherit; width: 70%">
                                <p:menuitem value="#{msg.players}" url="#" icon="fa fa-info-circle" />
                                <p:menuitem value="#{msg.coach}" url="#" icon="fa fa-info-circle" />
                            </p:menubar>
                        </h:panelGrid>
                    </p:tab>

                    <p:tab title="#{msg.yft}" titleStyle="height: 40px; padding: 15px; background-color: rgba(85,97,110,0.14); border: 1px solid #ded5d5;" >
                        <h:panelGrid columns="1" cellpadding="10">
                            <p:menubar style="border: none; background-color: white; background-image: inherit; width: 70% ">
                                <p:menuitem value="#{msg.players}" url="#" icon="fa fa-info-circle" />
                                <p:menuitem value="#{msg.coach}" url="#" icon="fa fa-info-circle" />
                            </p:menubar>
                        </h:panelGrid>
                    </p:tab>

                    <p:tab title="#{msg.bft}" titleStyle="height: 40px; padding: 15px; background-color: rgba(85,97,110,0.14); border: 1px solid #ded5d5;" >
                        <h:panelGrid columns="1" cellpadding="10">
                            <p:menubar style="border: none; background-color: white; background-image: inherit; width: 70%">
                                <p:menuitem value="#{msg.players}" url="#" icon="fa fa-info-circle" />
                                <p:menuitem value="#{msg.coach}" url="#" icon="fa fa-info-circle" />
                            </p:menubar>
                        </h:panelGrid>
                    </p:tab>

                    <p:tab title="#{msg.fwc}" titleStyle="height: 40px; padding: 15px; background-color: rgba(85,97,110,0.14); border: 1px solid #ded5d5;" >
                        <h:panelGrid columns="1" cellpadding="10" >
                            <p:menubar style="border: none; background-color: white; background-image: inherit; width: 70%">
                                <p:menuitem value="#{msg.standings}" url="#" icon="fa fa-table" />
                                <p:menuitem value="#{msg.c_games}" url="#" icon="fa fa-calendar" />
                                <p:menuitem value="#{msg.teams}" url="#" icon="fa fa-soccer-ball-o"/>
                            </p:menubar>
                        </h:panelGrid>
                    </p:tab>

                    <p:tab title="#{msg.fec}" titleStyle="height: 40px; padding: 15px; background-color: rgba(85,97,110,0.14); border: 1px solid #ded5d5;" >
                        <h:panelGrid columns="1" cellpadding="10">
                            <p:menubar style="border: none; background-color: white; background-image: inherit; width: 70%">
                                <p:menuitem value="#{msg.standings}" url="#" icon="fa fa-table" />
                                <p:menuitem value="#{msg.c_games}" url="#" icon="fa fa-calendar" />
                                <p:menuitem value="#{msg.teams}" url="#" icon="fa fa-soccer-ball-o"/>
                            </p:menubar>
                        </h:panelGrid>
                    </p:tab>

                    <p:tab title="#{msg.frc}" titleStyle="height: 40px; padding: 15px; background-color: rgba(85,97,110,0.14); border: 1px solid #ded5d5;" >
                        <h:panelGrid columns="1" cellpadding="10">
                            <p:menubar style="border: none; background-color: white; background-image: inherit; width: 70%">
                                <p:menuitem value="#{msg.standings}" url="#" icon="fa fa-table" />
                                <p:menuitem value="#{msg.c_games}" url="#" icon="fa fa-calendar" />
                                <p:menuitem value="#{msg.teams}" url="#" icon="fa fa-soccer-ball-o"/>
                            </p:menubar>
                        </h:panelGrid>
                    </p:tab>

                </p:accordionPanel>
            </h:form>
        </div>
    </ui:composition>
</h:body>
</html>
