<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view>

    <h:head>
        <title>#{msg.error_page}</title>
    </h:head>

    <h:body>


        <div class="error_page" style=" background-image: url('../resources/images/effect/fon.jpg'); background-size: cover; width: 1200px; height: 600px; margin: auto; border-radius: 5px">

            <div class="header" style=" position: relative; width: 1200px; height: 145px; margin: auto;">

                <ui:include src="/WEB-INF/templates/header.xhtml"/>

            </div>

            <div class="error" style="margin-top: 150px; text-align: center; color: white; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1em; ">
                <h2><h:outputText value="#{msg.error_return}"/>
                    <h:link outcome="login.xhtml" value="#{msg.home_page}" style=" color: white;"/></h2>
            </div>

            <div class="ball" style="width: 125px; position: relative; margin: 30px auto">

                <h:link  outcome="login.xhtml">
                    <p:graphicImage value="/resources/images/effect/ball.jpg" width="125"/>
                </h:link>

            </div>

        </div>
    </h:body>
</f:view>
</html>